body {
    background-color: #d3e0ea;
  }

.navtop {
	background-color: #276678;
	height: 60px;
	width: 100%;
    border: 0;
}
.navtop div {
	display: flex;
	height: 100%;
}
.navtop div h1, .navtop div a {
    top: 0;
    left: 0;
	display: inline-flex;
	align-items: center;
}

.navtop div img {
	padding: 0;
	margin: 5px;
	background-color: #f6f5f5;

}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #f6f5f5;
	font-weight: normal;
}

.navtop div h4 {
    font-size: 12px;
    padding: 0;
    padding-top: 24px;
	margin: 0 10px 0;
	color: #f6f5f5;
	font-weight: normal;
}

.navtop div a {
	padding: 0 40px;
	text-decoration: none;
	color: #f6f5f5;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #ff8303;
}

.content {
    padding-top: 60px;
    margin: 0 auto;
    text-align: center;
    border-style:solid;
    border-width: 2px;
    border-color: #276678;
}

.content p {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}

.content a:hover {
	color: #ff8303;
}

hr {
    background-color: #d3e0ea;
    border-color:#276678;
    border-style: dotted none none;
    border-width: 5px;
    height: 0px;
    width: 10%;
}
